[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Youtube
Exec=/usr/bin/mycroft-skill-launcher.py "youtube-skill.home"
Icon=yandex-browser
Categories=VoiceApp
StartupNotify=false
