[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Youtube
Exec=mycroft-gui-app --hideTextInput --skill=youtube-skill.aiix
Icon=yandex-browser
Categories=VoiceApp
StartupNotify=false
